* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-padding: 0 11.25rem;
  --body-max-width: 1920px;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100vh;
  overflow-y: scroll;
  font-size: 16px;
}

img,
video {
  max-width: none !important;
}

body {
  overflow: hidden;
  font-family: WenQuanYi Micro Hei, Noto Sans CJK SC, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, SimHei, Roboto, tahoma, sans-serif;
}

#app > .content {
  margin: 0 auto;
  max-width: var(--body-max-width);
}

.video-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  z-index: 9999;
}

.video-dialog .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-dialog .container img {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

#dialog-video {
  width: 1280px;
  height: 720px;
}

.banner1 {
  height: 780px;
  background-image: url('../assets/imgs/banner.jpg');
}

.banner1 .content {
  top: 14.5rem;
  left: 16.19rem;
}

.banner1 .title {
  font-size: 5rem;
  line-height: 7.5rem;
}

.banner1 .slogen {
  margin-top: 50px;
  font-size: 2.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.75rem;
}

.banner1 .btn {
  margin-top: 83px;
  width: 12.5rem;
  height: 3.5rem;
  background-image: linear-gradient(115deg, #3356f4 1%, #389def 100%);
  border-radius: 4px;
  gap: 16px;
  padding: 0 40px;
  border: 2px solid linear-gradient(202deg, #6fbbff 100%, #6988ff 100%);
}

.banner1 .btn span {
  font-size: 1.25rem;
  line-height: 1.88rem;
  text-wrap: nowrap;
}

.banner-tips {
  left: 16.19rem;
  bottom: 2.5rem;
  font-size: 1.13rem;
  line-height: 1.38rem;
  font-weight: 400;
}

.monolith {
  padding-top: 200px;
  padding-bottom: 206px;
  background-image: linear-gradient(180deg, #f4f5f7 0%, #ffffff 100%);
  transition: border-radius 0.3s ease;
}

.monolith .title {
  font-size: 4rem;
  color: #1e1e1e;
  line-height: 6rem;
}

.monolith .list {
  margin-top: 180px;
  padding: 0 11.25rem;
  grid-template-columns: repeat(4, 1fr);
  gap: auto;
}

.monolith .list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.monolith .list .item img {
  width: 15rem;
  height: 15rem;
}

.monolith .list .item p {
  width: 18.75rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #7f8287;
  letter-spacing: 0;
  text-align: center;
  line-height: 2.25rem;
}



.tips {
  margin-bottom: 3.75rem;
  height: 2.76rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tips p {
  height: 1.38rem;
  font-weight: 400;
  font-size: 1rem;
  color: #7f8287;
  text-align: center;
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  :root {
    --body-max-width: 1400px;
  }
  html {
    font-size: 11px;
  }
  .cross .container {
    padding-right: 0;
  }
  .cross .cvideo {
    width: 935.3px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  :root {
    --body-max-width: 1500px;
  }
  html {
    font-size: 12px;
  }
  .cross .container {
    padding-right: 0;
  }
  .cross .cvideo {
    width: 935.3px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {
  :root {
    --body-max-width: 1600px;
  }
  html {
    font-size: 13px;
  }
  .cross .container {
    padding-right: 0;
  }
  .cross .cvideo {
    width: 935.3px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  :root {
    --body-max-width: 1700px;
  }
  html {
    font-size: 14px;
  }
  .cross .container {
    padding-right: 0;
  }
  .cross .cvideo {
    width: 935.3px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1800px) {
  :root {
    --body-max-width: 1800px;
  }
  html {
    font-size: 15px;
  }
  .cross .container {
    padding-right: 0;
  }
  .cross .cvideo {
    width: 935.3px;
  }
}

@media screen and (min-width: 1801px) and (max-width: 1930px) {
  :root {
    --body-max-width: 1920px;
  }
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 2200px) {
  :root {
    --body-max-width: 2300px;
  }
  html {
    font-size: 19px;
  }

  .banner1 {
    height: 1024px;
  }

  .cross .cvideo {
    width: 1340px;
  }
}

@media screen and (min-width: 2800px) {
  :root {
    --body-max-width: 2900px;
  }
  html {
    font-size: 24px;
  }
  .banner1 {
    height: 1280px;
  }
}
