* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-padding: 0 180px;
  --performance-font-size: 24px;
  --body-max-width: 1920px;
  --body-min-width: 1900px;
  --monolith-list-grid-gap: 120px;
  --monolith-list-item-gap: 46px;
  --monolith-list-item-p-width: 300px;
  --monolith-list-item-p-font-size: 24px;
  --desktop-banner-gap: 219px;
  --ai-content-right-width: 890px;
  --title-p1-font-size: 64px;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

img,
video {
  max-width: none !important;
}

body {
  max-width: var(--body-max-width);
  min-width: var(--body-min-width);
  overflow: hidden;
  margin: auto;
  font-family: WenQuanYi Micro Hei, Noto Sans CJK SC, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, SimHei, Roboto, tahoma, sans-serif;
}

.video-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  z-index: 9999;
}

.video-dialog .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-dialog .container img {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

#dialog-video {
  width: 1280px;
  height: 720px;
}

.banner1 {
  position: relative;
  width: 100%;
  height: 780px;
  background-image: url('/assets/imgs/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner1 .content {
  position: absolute;
  top: 232px;
  left: 256px;
}

.banner1 .title {
  font-weight: 600;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 120px;
}

.banner1 .slogen {
  margin-top: 50px;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  line-height: 28px;
}

.banner1 .btn {
  margin-top: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-image: linear-gradient(115deg, #3356f4 1%, #389def 100%);
  border-radius: 4px;
  cursor: pointer;
  gap: 16px;
  padding: 0 40px;
  border: 2px solid linear-gradient(202deg, #6fbbff 100%, #6988ff 100%);
}

.banner1 .btn span {
  font-weight: Medium;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
}

.banner1 .btn img {
  width: 24px;
  height: 24px;
}

.monolith {
  padding-top: 200px;
  padding-bottom: 206px;
  background-image: linear-gradient(180deg, #f4f5f7 0%, #ffffff 100%);
  transition: border-radius 0.3s ease;
}

.monolith .title {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: 96px;
}

.monolith .list {
  margin-top: 180px;
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--monolith-list-grid-gap);
}

.monolith .list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--monolith-list-item-gap);
}

.monolith .list .item img {
  width: 180px;
  height: 180px;
}

.monolith .list .item p {
  width: var(--monolith-list-item-p-width);
  font-weight: 500;
  font-size: var(--monolith-list-item-p-font-size);
  color: #7f8287;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

.desktop .title {
  font-weight: bold;
  font-size: 64px;
  color: #1e1e1e;
  letter-spacing: 0;
  text-align: center;
  line-height: 96px;
}

.fullscreen-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fullscreen-cover img {
  width: 100%;
  max-height: 100vh;
}

.fullscreen-cover2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fullscreen-cover2 img {
  width: 100%;
  max-height: 100vh;
}

.desktop {
  position: relative;
}

.desktop .banner {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  gap: var(--desktop-banner-gap);
  height: 700px;
}

.desktop .banner .item {
  position: absolute;
  left: calc(50% - 510px);
  width: 1020px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.desktop .banner .item .video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop .banner .item .video-container video {
  position: absolute;
  left: 119px;
  top: 26px;
  border-radius: 7px;
}

.desktop .banner .item.left {
  left: calc(50% - 510px);
}

.desktop .banner .item.right {
  left: calc(50% + 739px);
}

.desktop .banner .item.opacity {
  opacity: 0.85;
}

.desktop .banner .item p {
  margin: 0 auto;
  width: 790px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

.desktop .replay {
  /* margin-top: 33px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
  cursor: pointer;
}

.desktop .replay span {
  height: 39px;
}

.desktop .replay img {
  width: 16px;
  height: 16px;
}

.desktop .pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 5px;
}

.desktop .pagination .dot {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #e4e6ea;
  cursor: pointer;
  transition: all 0.5s ease;
}

.desktop .pagination .dot:hover {
  transform: scale(1.2);
}

.desktop .pagination .dot.active {
  width: 40px;
  height: 12px;
  background: #d0d3da;
  border-radius: 10px;
}

.title-p1 {
  margin-top: 175px;
  font-weight: bold;
  font-size: var(--title-p1-font-size);
  color: #1e1e1e;
  letter-spacing: 0;
  text-align: center;
  line-height: 96px;
}

.sub-title {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

.window-tube .content {
  padding: var(--page-padding);
  padding-bottom: 180px;
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.window-tube .content .left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.window-tube .content .left .w-title {
  width: 399px;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  background: linear-gradient(104deg, #0050ff 0%, #7500ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.window-tube .content .left .w-desc {
  width: 540px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
}

.window-tube .content .left .tab {
  position: relative;
  margin-top: 45px;
  display: inline;
  height: 48px;
  background: #ecf2fe;
  border-radius: 3px;
  padding: 1.5px;
  display: grid;
  gap: 1.5px;
  grid-template-columns: repeat(2, 1fr);
}

.window-tube .content .left .tab .bg {
  position: absolute;
  left: 0;
  height: 48px;
  border-radius: 3px;
  background: #0052d9;
  z-index: 1;
  transition: left 0.5s;
}

.window-tube .content .left .tab .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  background: #ecf2fe;
  transition: all 0.5s;
}

.window-tube .content .left .tab .btn.active span {
  color: #ffffff;
  z-index: 2;
}

.window-tube .content .left .tab .btn span {
  height: 20.25px;
  font-family: MiSans-Medium;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  transition: color 0.5s;
  white-space: nowrap;
}

.window-tube .content .right {
  position: relative;
  /* 合并右边 */
  grid-column: span 2 / span 2;
  width: 100%;
  background: #f5f6f8;
  border-radius: 56px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 50px;

  height: 540px;
}

.window-tube .content .right img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.window-tube .content .right .data {
  width: 100%;
  border-radius: 16px;
}

.window-tube .content .right .data video {
  width: 100%;
}

.performance {
  padding: var(--page-padding);
  height: 1080px;
  background: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.performance .item {
  flex: 1;
  height: 540px;
  background-image: linear-gradient(180deg, #2b2b2b 0%, #111111 100%);
  border-radius: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.performance .item .title {
  margin-top: 100px;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  line-height: 48px;
}

.performance .item .data {
  display: flex;
  margin-top: 40px;
}

.performance .item .data .value {
  height: 205px;
  font-weight: Medium;
  font-size: 160px;
  background: linear-gradient(104deg, #00ffd5 0%, #00f9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.performance .item .data .right {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 37px;
}
.performance .item .data .right img {
  width: 40px;
  height: 40px;
}

.performance .item .data .right span {
  width: 51px;
  height: 76px;
  font-weight: 600;
  font-size: 60px;
  color: #fff;
}

.performance .item .desc {
  margin-top: 34px;
  font-weight: 500;
  font-size: var(--performance-font-size);
  color: #ffffff;
  letter-spacing: 0;
  line-height: 36px;
}

.performance .item.second .data .value {
  background: linear-gradient(104deg, #00ff42 0%, #00ffc9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai .answer {
  padding: var(--page-padding);
}

.ai .content {
  padding: var(--page-padding);
  margin-top: 100px;
  display: flex;
  gap: 40px;
}

.ai .content img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.ai .content .left {
  position: relative;
  width: 615px;
}

.ai .content .right {
  position: relative;
  width: var(--ai-content-right-width);
}

.ai .answer {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.ai .answer .left .title {
  margin-top: 150px;
  font-weight: 600;
  font-size: 48px;
  background: linear-gradient(104deg, #0050ff 0%, #7500ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai .answer .left .desc {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
}

.ai .answer .right .replay {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
  cursor: pointer;
}

.ai .answer .right .replay span {
  height: 39px;
}

.ai .answer .right .replay img {
  width: 16px;
  height: 16px;
}

.title-p2 {
  margin-top: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  line-height: 48px;
}

.worker {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
}

.worker .banner {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 670px;
  overflow: hidden;
}

.worker .banner > .img {
  position: absolute;
  top: 0;
  left: calc(50% - 480px);
  width: 960px;
  height: 540px;
  background-color: #777;
  border-radius: 56px;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}

.worker .banner > .img .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.worker .banner > .img .container video {
  width: 100%;
}

.worker .banner > .img .container img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
}

.worker .banner > .img.opacity {
  opacity: 0.34;
}

.worker .banner > .img.left {
  left: calc(50% - 1509px);
}

.worker .banner > .img.right {
  left: calc(50% + 549px);
}

.worker .banner > .container {
  min-width: 200%;
  display: flex;
  gap: 69px;
  transition: transform 0.5s ease;
}

.worker .banner .toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.worker .banner .toolbar .container {
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.worker .banner .toolbar .container .item {
  display: flex;
  gap: 30px;
}

.worker .banner .toolbar .container .item p {
  color: #00000099;
  font-size: 24px;
  font-face: MiSans;
  font-weight: Medium;
  line-height: 0;
  letter-spacing: 0;
  paragraph-spacing: 0;
  text-align: center;
}

.worker .banner .toolbar .container .item .button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url(./assets/icons/左切换（可点.png);
  outline: 0;
}

.worker .banner .toolbar .container .item .button.right {
  background-image: url(./assets/icons/右切换（不可.png);
}

.worker .banner .toolbar .container .item .left:active {
  background-image: url(./assets/icons/左切换（点击.png);
}

.worker .banner .toolbar .container .item .right:active {
  background-image: url(./assets/icons/右切换（点击.png);
}

.worker .banner .toolbar .container .item .button.left.disabled {
  background-image: url(./assets/icons/左切换不可点击.png);
  cursor: not-allowed;
}
.worker .banner .toolbar .container .item .button.right.disabled {
  background-image: url(./assets/icons/右切换不可点击.png);
  cursor: not-allowed;
}

.cross {
  position: relative;
  width: 100%;
  padding-top: 100px;
}

.cross .container {
  padding: var(--page-padding);
  display: flex;
  gap: 37px;
}

.cross .left .title {
  width: 340px;
  font-weight: 700;
  font-size: 64px;
  color: #1e1e1e;
  letter-spacing: 0;
}

.cross .left .sub-title {
  margin-top: 100px;
  font-weight: 600;
  text-align: start;
  color: #000000;
  line-height: 58px;
  background: linear-gradient(104deg, #0050ff 0%, #7500ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cross .left .desc {
  margin-top: 40px;
  width: 420px;
  height: 72px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
}

.cross .replay {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 24px;
  color: #7f8287;
  letter-spacing: 0;
  line-height: 36px;
  cursor: pointer;
}

.cross .replay span {
  height: 39px;
}

.cross .replay img {
  width: 16px;
  height: 16px;
}

.performance {
  height: 810px;
}

.hardware {
  padding: var(--page-padding);
  padding-bottom: 162px;
}
.hardware .content .item {
  position: relative;
  padding-left: 80px;
  padding-top: 68px;
  flex: 1;
  border-radius: 56px;
}

.hardware .content .item img {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.hardware .content .item p {
  width: 420px;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 56px;
}

.hardware .content {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  height: 670px;
}

.hardware .content .left {
  background-image: linear-gradient(131deg, #0759fd 0%, #43c7ec 100%);
}

.hardware .content .left img {
  width: 206px;
  height: 307px;
}

.hardware .content .right {
  background-image: linear-gradient(134deg, #7cd798 0%, #75d7b1 100%);
}

.hardware .content .right img {
  width: 321px;
  height: 241px;
}

.distrobox {
  position: relative;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 780px;
}

.distrobox::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url(./assets/imgs/distrobox.png);
  filter: blur(2px);
}

.distrobox .container {
  width: 100%;
  display: flex;
  height: 100%;
}

.distrobox .desc {
  margin-top: 40px;
  width: 940px;
  height: 72px;
  font-weight: Medium;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

.distrobox .btn {
  margin-top: 120px;
  min-width: 190px;
  height: 56px;
  background-image: linear-gradient(270deg, #1a58ff 0%, #1976ff 100%);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0 18px;
  cursor: pointer;
}

.distrobox .btn span {
  min-width: 120px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
}

.distrobox .btn img {
  width: 16px;
  height: 16px;
}

.distrobox .tips {
  font-weight: 400;
  font-size: 16px;
  color: #7f8287;
  letter-spacing: 0;
}

.distrobox .tips:last-child {
  margin-top: 6px;
  margin-bottom: 20px;
}

@media (max-width: 1700px) {
  :root {
    --page-padding: 0 135px;
    --performance-font-size: 18px;
    --body-max-width: 1440px;
    --body-min-width: 1400px;
    --monolith-list-grid-gap: 90px;
    --monolith-list-item-gap: 10px;
    --monolith-list-item-img-size: 180px;
    --monolith-list-item-p-width: 225px;
    --monolith-list-item-p-font-size: 18px;
    --desktop-banner-gap: 84px;
    --ai-content-right-width: 660px;
    --title-p1-font-size: 48px;
  }

  .desktop .banner .item.right {
    left: calc(50% + 600px);
  }

  .hardware .content .item p {
    width: 318px;
    font-size: 21px;
    line-height: 42px;
  }

  .ai .answer {
    padding: 0 135px;
    gap: 0px;
  }

  .ai .content .left {
    position: relative;
    width: 456px;
  }

  .cross .container {
    padding: 0 0 0 180px;
    gap: 0;
  }

  .cross .container .left .desc {
    width: 300px;
  }

  .hardware {
    padding: 0 135px 162px 135px;
  }

  .hardware .content .item img {
    bottom: 60px;
    right: 60px;
  }

  .hardware .content .item.left img {
    width: 171px;
  }
  .hardware .content .item.right img {
    width: 267px;
  }

  .window-tube .content .left .w-desc {
    width: 450px;
  }

  .window-tube .content {
    padding-right: 80px;
  }
}
