.grid {
  display: grid;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-full {
  width: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.w-24 {
  width: 24px;
}

.w-1020 {
  width: 1020px;
}

.h-24 {
  width: 24px;
}

.transition-all-05 {
  transition: all 0.5s ease;
}

.mt-40 {
  margin-top: 40px;
}

.z-5 {
  z-index: 5;
}
